@font-face {
  font-family: "Poppins";
  src: url(../police/Poppins-Regular.ttf);
}

body *
{
  font-family: "Poppins", arial;
}

body
{
  margin: 0;
  font-family: arial;
}

#lecteur
{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.7);
  box-shadow: 0px 10px 34px 10px rgba(0,0,0,0.7);
  transform: translateY(-130vh);
  transition: transform .8s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  bottom: 0;
}

header
{
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 9;
  justify-content: space-between;
  background-color: #D72E2A;
  position:-webkit-sticky;
  position: sticky;
}

header > a
{
  display: flex;
  align-items: center;
}

#logo_longueur_blanc
{
  height: 70px;
}

#scearch_bar
{
  display: flex;
  align-items: center;
  background-color: #A02026;
  border-radius: 7px;
  padding: 5px;
}

#scearch_bar input
{
  background: transparent;
  outline: 0;
  border: 0;
  margin-right: 3px;
  font-size: 17px;
  color: white;
}

#scearch_bar input::placeholder
{
  color: lightgray;
  font-size: 12px;
  position: relative;
  bottom: 1px;
}

#scearch_bar label
{
  display: flex;
  align-items: center;
  cursor: pointer;
}

#importer_file
{
  display: none;
}

#pdp_user
{
  margin-right: 9px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border: 3px solid rgba(255,255,255,.8);
  border-radius: 50%;
}

#container_header_right
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav
{
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D72E2A;
  position: sticky;
  top: 80px;
  border-top: 2px solid #A02026;
  border-bottom: 1px solid #A02026;
  padding: 5px;
  overflow: hidden;
}

#container_categories
{
  overflow: scroll;
  padding: 5px;
  margin: 5px;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#container_categories::-webkit-scrollbar {
  display: none;
}

.nom_categorie
{
  display: inline;
  cursor: pointer;
  color: white;
  background-color: #A02026;
  border-radius: 5px;
  padding: 5px;
  margin-right: 2px;
  margin-left: 2px;
  transition: background-color .2s;
}

.nom_categorie:hover
{
  background-color: #3672B3;
}

.cat_clicked
{
  background-color: #3672B3;
}

.nom_tag
{
  cursor: pointer;
  color: white;
  background-color: #A02026;
  border-radius: 5px;
  padding: 5px;
  margin-right: 2px;
  margin-left: 2px;
  transition: background-color .2s;
}

.nom_tag:hover
{
  background-color: #BDE4FB;
}

.tag_clicked
{
  background-color: #BDE4FB;
}

#settings_cat_tag
{
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings_cat_tag:hover
{
  transform: rotate(30deg);
}

#importer
{
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

#importer svg
{
  margin-right: 5px;
}

#mask_profil
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  right: 0;
  transform: translateX(100vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

#profil
{
  width: 50vmin;
  max-height: calc(50vmin * 4 / 3);
  position: fixed;
  left: calc(50vw - 50vmin / 2);
  top: 50%;
  z-index: 100;
  transform: translate(100vw,-50%);
  transition: transform .5s;
  background-color: #171717;
  border-radius: 8px;
  overflow: auto;
}

#container_profil_top
{
  background: linear-gradient(to top right, #A02026, #D72E2A);
  padding-bottom: 25px;
  border-radius: 8px 8px 0 0;
}

#name, #role
{
  margin-top: 3px;
  margin-bottom: 3px;
  color: white;
  text-align: center;
  font-size: 20px;
}

#container_deconnexion
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  padding: 5px;
}

#container_deconnexion *
{
  cursor: pointer;
}

#container_pdp_profil
{
  display: flex;
  justify-content: center;
}

#pdp_profil
{
  height: 64px;
  width: 64px;
  border: 3px solid rgba(255,255,255,.8);
  border-radius: 50%;
  transition: filter .5s;
  text-align: center;
  cursor: pointer;
}

#pdp_profil, #pdp_user
{
  object-fit: cover;
}

input[type=file]{
  display: none;
}

#pdp_profil:hover{
  filter: grayscale(100%);
}

#container_profil_stats
{
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  color: #D72E2A;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 15px;
}

#container_profil_stats span
{
  text-align: center;
}

#container_profil_stats span:nth-child(2)
{
  width: 2px;
  background-color: #757575;
}

#container_profil_buttons
{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#container_profil_buttons button
{
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  transition: background .2s;
}

#container_profil_buttons button:hover
{
  background: #D72E2A;
}

            /* Modification pour la page gestionnaire de compte */

#table_compte
{

  display: flex;
  justify-content: center;
  align-items: center;
}

#container_tags{
  width: 100vw;
  display: flex;

}

#catégories_de_tags{
  text-align: center;
  width: 50vw;
  height: 50%;
  display: block;

}

#Tags{
  text-align: center;
  width: 50vw;



}

.plus {
  margin-left:50%;
  transform: translateX(-50%);
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:50px;
  cursor:pointer;
  height: 50px  ;
  width: 50px;
  padding: 10px ;
  border: 1px dashed red;
  border-radius:50%;
}

table
{
width: 100%;
border-collapse: collapse;
text-align: center;
}

thead
{
  top: 80px;
  position:-webkit-sticky;
  position: sticky;
  background-color: #A02026;

}

th
{
  color : #FFFFFF;

}

td
{
  height : 50px;

}
td, th {
border-bottom: 1px solid #ddd;
}

tr.tab_body:hover {background-color: lightgray;}

               /* Modification page ajouter un compte */
.container
{
               width: 100%;
               margin-right: auto;
               margin-left: auto;
               padding-right: var(--bs-gutter-x,.75rem);
               padding-left: var(--bs-gutter-x,.75rem);
}

@media (min-width:576px) {
    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

@media (min-width:1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.form-label {
    margin-bottom: .5rem;
}

.form-control {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

@media (prefers-reduced-motion:reduce) {
    .form-control::file-selector-button {
        transition: none;
    }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3;
}

textarea.form-control {
    min-height: calc(1.5em + (.75rem + 2px));
}

.btn {
    display: inline-block;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    color: #212529;
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    outline : 0;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none;
    }
}

.btn-primary {
    border-color: #A02026;
    color: #fff;
    background-color: #D72E2A;
}

.btn-primary:hover {
    border-color: #D72E2A;
    color: #fff;
    background-color: #A02026;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
    border-color: #D72E2A;
    color: #fff;
    background-color: #D72E2A;
    box-shadow: 0 0 0 .25rem rgba(160,32,38,.5);
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
    border-color: #D72E2A;
    color: #fff;
    background-color: #D72E2A;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(160,32,38,.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    border-color: #A02026;
    color: #fff;
    background-color: #A02026;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #fff;
    background-clip: border-box;
    word-wrap: break-word;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

#trier_par
{
  display: flex;
  align-items: center;
  margin-top: 5px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.bouton_trier_par, #bouton_checked_croissant
{
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  transition: .2s;
}

input[name="radio_trie"], #checked_croissant
{
  display: none;
}

.bouton_trier_par:hover, input[name="radio_trie"]:checked+label
{
  color: white;
  background-color: #3672B3;
}

#bouton_checked_croissant:hover
{
  background-color: #BDE4FC;
}

#checked_croissant:checked+label
{
  background-color: #BDE4FC;
}

.container_media
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img_media
{
  height: 200px;
  cursor: pointer;
  transition: transform 1s;
}

.player
{
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.player video
{
  height: 200px;
}

.play
{
  position: absolute;
  height: 60px;
  z-index: 8;
}

.container_informations
{
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  top: 0;
  width: 340px;
  padding: 10px;
  box-shadow: 0 0 40px 8px rgba(0,0,0,.6);
  transform: translateX(-130%);
  transition: transform .5s;
  background-color: white;
}

@media only screen and (max-width: 360px)
{
  .container_informations
  {
    width: auto;
    right: 0;
  }
}

.menu_informations
{
  display: flex;
  justify-content: space-between;
}

.fermer_informations
{
  cursor: pointer;
}

.marge
{
  margin: 20px;
}

@media only screen and (orientation: portrait) /* Si height > width */
{
  .player video, .img_media
  {
    height: auto;
    width: 200px;
  }
}

#ajoutcat{

  width: 50vmin;
  max-height: calc(50vmin * 4 / 3);
  position: fixed;
  left: calc(50vw - 50vmin / 2);
  top: 50%;
  z-index: 100;
  transform: translate(-100vw,-50%);
  transition: transform .5s;
  background-color: #D72E2A;
  border-radius: 8px;
  text-align: center;
  color: white;
}

#ajouttag{


  width: 50vmin;
  max-height: calc(50vmin * 4 / 3);
  position: fixed;
  left: calc(50vw - 50vmin / 2);
  top: 50%;
  z-index: 100;
  transform: translate(-100vw,-50%);
  transition: transform .5s;
  background-color: #D72E2A;
  border-radius: 8px;
  text-align: center;
  color: white;




}

#ajouttag *{
  font-size: 10px
  padding: 5px;
  margin: 8px;
}


#ajoutcat *{
  font-size: 10px
  padding: 5px;
  margin: 8px;
}

#mask_tag
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  right: 0;
  transform: translateX(100vw);
  display: flex;
  align-items: center;
  justify-content: center;
}
